@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*
{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
/* Main Header */

.main__navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: rgb(79, 58, 29);
}

.main__link
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.main__logo
{
    font-weight: 700;
    font-size: 25px;
    margin-left: 10px ;
    text-transform: capitalize;
    color: #dc9a64;
}

.main__link, .link
{
    margin: 10px;
    color: white;
    transition: all .2s ease;
    padding: 5px;
    font-size: 1rem;
    font-weight: 600;
}

.link:hover
{
    color: #fff;
    border-radius: 3px;
    background-color: rgb(205, 150, 77) ;
}

.main__login
{
    font-weight: 500;
    font-size: 1rem;
    margin-right: 25px ;
    padding: 5px;
    transition: 0.2s;
}

.main__login:hover
{
    background-color: rgb(205, 150, 77);
    border-radius: 10px;
    cursor: pointer;
}

.search__icon
{
    margin-right: 30px;
    color: white;
    transition: 0.2s;
}

.search__icon:hover
{
    color: rgb(205, 150, 77);
    cursor: pointer;
}

/* Main Hero */

body
{
    background-image: url(Image/background.jpeg);
    background-repeat: repeat-y;
    background-size: cover;
    height: 100%;
}

.main__hero
{
    text-align: center;
    padding-top: 1rem;
    color: white;
    height: 350px;
    /* background-color: #dc9a64; */
    margin: 20px;
}

.main__title
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    color: rgb(79, 58, 29) ;
}

.main__content
{
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: 50px 100px;
    background-color: rgb(79, 58, 29);
    border-radius: 20px;
    box-shadow: 5px 3px 5px black;
    text-align: left;
    height: 500px;
    padding: 10px;
}

.content1
{
    grid-column: 2;
    grid-row: span 2;
    border: solid;
    margin: 5px;
}

.content2
{
    grid-column: 2;
    border: solid;
    margin: 5px;
}   

.aside
{
    grid-column: 1;
    grid-row: span 2;
    margin-top: -45px;
}

