*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
    z-index: 1000;
}

body
{
    height: 100%;
    width: 100%;
}

.main__navbar
{
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.main__txt
{
    display: flex;
    justify-content: left;
    font-size: 2.5rem;
}
.main__txt, .main__logo 
{
    list-style: none;
    text-decoration: none;
    color: white;
}

.main__toggle
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}