@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*
{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
/* Main Header */

.main__navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: rgb(79, 58, 29);
}

.main__link
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.main__logo
{
    font-weight: 700;
    font-size: 25px;
    margin-left: 10px ;
    text-transform: capitalize;
    color: #dc9a64;
}

.main__link, .link
{
    margin: 10px;
    color: white;
    transition: all .2s ease;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
}

.link:hover
{
    color: #fff;
    border-radius: 3px;
    background-color: rgb(205, 150, 77) ;
}

/* .main__login
{
    font-weight: 500;
    font-size: 1rem;
    margin-right: 25px ;
    padding: 5px;
    transition: 0.2s;
}

.main__login:hover
{
    background-color: rgb(205, 150, 77);
    border-radius: 10px;
    cursor: pointer;
} */

.search__icon
{
    margin-right: 30px;
    color: white;
    transition: 0.2s;
}

.search__icon:hover
{
    color: rgb(205, 150, 77);
    cursor: pointer;
}

/* Main Hero */

body
{
    background-image: url(Image/background.jpeg);
    background-repeat: repeat-y;
    background-size: cover;
    height: 100%;
}

.main__hero
{
    text-align: center;
    padding-top: 1rem;
    color: white;
    height: 350px;
    /* background-color: #dc9a64; */
    margin: 20px;
}

.main__title
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    color: rgb(79, 58, 29) ;
}

/* lashes */
.main__content
{
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: 50px 100px;
    background-color: rgb(79, 58, 29);
    border-radius: 20px;
    box-shadow: 5px 3px 5px black;
    text-align: left;
    height: 1500px;
    padding: 10px;
}

.main__about
{
    background-color: blanchedalmond;
    height: 300px;
    outline: none;
    border-radius: 10px;
    text-align: center;
}

.context1
{
    font-size: 40px;
    color: rgb(79, 58, 29);
    text-decoration: underline;
}

.context2
{
    display: flex;
    justify-content: center;
    color: rgb(79, 58, 29);
    padding: 5px;
    margin-left: 300px;
    height: 200px;
    width: 200px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 5px 4px 5px black;
    cursor: pointer;
}

.classic
{
    text-decoration: underline;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
}

.context3
{
    display: flex;
    justify-content: center;
    color: rgb(79, 58, 29);
    padding: 5px;
    margin-left: 550px;
    margin-top: -200px;
    height: 200px;
    width: 200px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 5px 4px 5px black;
    cursor: pointer;
}

.hybrid
{
    text-decoration: underline;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
}

.context4
{
    display: flex;
    justify-content: center;
    color: rgb(79, 58, 29);
    padding: 5px;
    margin-left: 800px;
    margin-top: -200px;
    height: 200px;
    width: 200px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 5px 4px 5px black;
    cursor: pointer;
}

.volume
{
    text-decoration: underline;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
}

.context5
{
    display: flex;
    justify-content: center;
    color: rgb(79, 58, 29);
    padding: 5px;
    margin-left: 1050px;
    margin-top: -200px;
    height: 200px;
    width: 200px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 5px 4px 5px black;
    cursor: pointer;
}

.infill
{
    text-decoration: underline;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;  
}

.context6
{
    display: flex;
    justify-content: center;
    color: rgb(79, 58, 29);
    padding: 5px;
    margin-left: 1300px;
    margin-top: -200px;
    height: 200px;
    width: 200px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 5px 4px 5px black;
    cursor: pointer;
}

.cat-eye
{
    text-decoration: underline;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize; 
}

/* lashes end */

/* nail */
.main__about2
{
    background-color: blanchedalmond;
    height: 450px;
    outline: none;
    border-radius: 10px;
    text-align: center;
    margin-top: 265px;
}

.nail
{
    font-size: 40px;
    color: rgb(79, 58, 29);
    text-decoration: underline;
}

.nail1
{
    display: flex;
    justify-content: center;
    color: rgb(79, 58, 29);
    padding: 5px;
    margin-left: 150px;
    height: 300px;
    width: 350px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 4px 5px black;
    cursor: pointer;
}

.gel-polish
{
    font-size: 25px;
    color: rgb(79, 58, 29);
    text-decoration: underline; 
}

.nail2
{
    display: flex;
    justify-content: center;
    color: rgb(79, 58, 29);
    padding: 5px;
    margin-left: 550px;
    margin-top: -300px;
    height: 300px;
    width: 350px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 4px 5px black;
    cursor: pointer;
}

.soft-gel
{
    font-size: 25px;
    color: rgb(79, 58, 29);
    text-decoration: underline; 
}

.nail3
{
    display: flex;
    justify-content: center;
    color: rgb(79, 58, 29);
    padding: 5px;
    margin-left: 950px;
    margin-top: -300px;
    height: 300px;
    width: 350px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 4px 5px black;
    cursor: pointer; 
}

.toe-nail
{
    font-size: 25px;
    color: rgb(79, 58, 29);
    text-decoration: underline; 
}

.nail4
{
    display: flex;
    justify-content: center;
    color: rgb(79, 58, 29);
    padding: 5px;
    margin-left: 1350px;
    margin-top: -300px;
    height: 300px;
    width: 350px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 4px 5px black;   
    cursor: pointer;
}

.infill1
{
    font-size: 25px;
    color: rgb(79, 58, 29);
    text-decoration: underline; 
}

/* nail end */

/* Information*/

.information
{
    display: flex;
    margin-top: 700px;
    padding: 35px;
    /* border: solid; */
    width: 100%;
}

.content1, img
{
    margin-top: 5px;
    border-radius: 15px;
}
.content2
{
    margin: 10px;
    padding: 10px;
    background: blanchedalmond;
    color: rgb(79, 58, 29);
    width: 100%;
    height: 450px;
    border-radius: 15px;
}

.text1
{
    font-size: 50px;
}
p{font-size: 20px;}

/* information end*/

/* footer */

/* .main__footer
{
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
} */